.active-orders
	header
		.navbar-fixed
			nav
				.nav-wrapper
					h2.nav-title Ordenes activas
					a.icon-button.waves-effect.circular.left href="#home"
						i.material-icons arrow_back
					
	section#all-orders
		.container				
			.row
				.col.s12 data-bind="foreach: orders"
					.card
						.card-image.waves-effect.waves-block
							img src="images/flat-groceries.jpg"
							span.card-title data-bind="text: 'Orden #'+($index()+1)"
						.card-content
							a.btn-floating.waves-effect.waves-light.edit.activator
								i.material-icons create
							a.btn-floating.waves-effect.waves-light.map
								i.material-icons directions
							span.card-title.grey-text.text-darken-4
								|7/9
								/ i.material-icons.right more_vert
							span.delivery-time.grey-text.text-darken-4 02:00 PM
						.card-reveal
							span.card-title.grey-text.text-darken-4
								|<!--ko text: 'Orden #'+($index()+1)--><!--/ko-->
								i.material-icons.right close
							.items-order data-bind="foreach: $data.ordersProducts"
								.item data-bind="click: function(){$component.markAsChecked($data, $parent)}"
									input#product.filled-in type="checkbox" data-bind="attr: {'checked': $data.checked}"
									label for="product" data-bind="text: $data.product.name()+' x '+$data.quantity(), css: {checked: $data.checked}"
							a.take-order data-bind="css: {disabled: $data.checkedItems() != $data.ordersProducts().length}" Llevar orden
