/* Colors */

$frepi-green: #22B676;
$cream: #F5F1E9;
$frepi-cream: #FCF8E3;

$electric-blue: #4DBCE9;
$fake-it: #F5F1E9;
$light-black: rgba(0, 0, 0, 0.7);
$orange: #FB4500;
$pleather: #805841;

$burned-blue: #4F8699;

$dark-blue: rgb(16, 89, 129);

/* Generic rules */

body {
	background-color: $frepi-cream;
}

.clearfix {
	content:"";
	display:table;
	clear:both;
}

/* Login */

.login {
	background-color: $frepi-green;
	/*padding-top: 6rem;*/
	padding-top: 20%;

	header {
		margin-bottom: 2.5rem;

		img {
			display: block;
			height: 6.5rem;
			margin: 0 auto;
		}
	}

	form {
		input[type=text],
		input[type=password] {
			border-bottom-color: $cream;
			color: $cream;

			&:focus {
				border-bottom-color: $pleather;			
			}
		}

		.btn {
			width: 100%;
		}

		.row {
			&:first-of-type {
				margin-bottom: 0;

				input {
					margin-bottom: 0;
				}
			}

			&:last-of-type {
				margin-bottom: 2.142857;
			}
		}
	}	

	.loader {
		text-align: center;

		.spinner-layer {
			border-color: rgba(255, 255, 255, .65);
		}
	}

	.error.message {
		color: $cream;
		font-size: 1.142857em;
		font-weight: bold;
	}
}

.home {
	nav {
		background-color: $frepi-green;

		.container {
			margin: 0;
			width: 100%;
		}

		.button-collapse {
			border-radius: 50%;
			text-align: center;
			width: 56px;
		}

		.brand-logo {
			height: 4rem;
			position: absolute;
			top: 5px;

			img {
				height: 3.285714rem;
			}
		}
	}

	#active-orders {
		margin: 20px 0 30px;

		.container {
			width: 95%;
		}

		.active-orders-action {
			background-color: rgb(0, 118, 163);
			border-right: solid 4px $dark-blue;
			color: white;
			font-size: 16px;
			padding: 10px 14px;
			width: 100%;
		}
	}

	#nearby-orders {
		h5 {
			background-color: gray;
			color: $cream;
			margin-bottom: 20px;
			padding: 18px;
		}

		.card {
			.card-content {
				.card-title {
					font-size: 18px;
					line-height: 30px;

					i {
						margin-left: 0;
					}
				}
			}

			.distance {
				display: block;
				padding-top: 8px;
			}

			.card-action {
				a:last-of-type {
					background-color: $orange;
					padding: 5px 10px;
					color: white;
					border-radius: 4px;
				}
			}

			.card-reveal {
				.line {
					width: 100%;

					* {
						display: inline-block;
						float: left;
						padding: 10px 10px 4px;
					}

					.title {
						font-weight: bold;
						width: 45%;
					}

					.value {
						text-transform: capitalize;
						width: 55%;
					}
				}
			}
		}

		button.more-nearby-ords {
			width: 100%;
		}
	}
}

