.dark-green.button {
	background-color: $dark-green-colour;
	background-image: none;
	box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset;
	color: #FFF;
	&:hover {
		background-color: darken($dark-green-colour, 7.5%);
		color: #FFF;
	}
	&:active {
		background-color: darken($dark-green-colour, 15%);
		color: #FFF;
	}
}

.basic.dark-green.button {
	box-shadow: 0 0 0 1px rgba(34,36,38,.15) inset!important;
	color: rgba(0,0,0,.6)!important;
	&:hover {
		background: 0 0!important;
		box-shadow: 0 0 0 2px $dark-green-colour inset!important;
		color: $dark-green-colour!important;
	}
	&:active {
		box-shadow: 0 0 0 2px darken($dark-green-colour, 7.5%) inset!important;
		color: darken($dark-green-colour, 7.5%) !important;
	}
}

.dark-red.circular.shop.icon {
	background-color: $red-colour !important;
	border-radius: .28571429rem !important;
	border-bottom: solid 1px darkred;
}
