/**
 ** Responsiveness for Frepi
 **/

@media only screen and (max-width: 767px){

  /**
   ** Generic rules
   **/
  .main-content {
    padding-top: 60px;
  }

  /* Request Error Message */
  .request-error {
    width: 85%;
  }

  /**
   ** Ixdex/Landing rules
   **/

  nav.landing.menu .motto { display: none !important; }

  #how-we-work p {
    margin: 2.5em 2em 1em;
  }

  /**
   ** Login rules
   **/

  .login-main {
    background: url(../images/landing/login-bg-min.jpg) no-repeat fixed center bottom;
    background-size: 100%;
  }

  .ui.stackable.grid>.column:not(.row) {
    padding: 1rem 2rem !important;
  }

  .login-main .sub.header {
    font-size: 1.1rem !important;
  }

  /**
   ** Store rules
   **/

  #store-frepi-logo {
    width: 4.285714em;
  }

  #store-frepi-logo .image {
    display: none;
  }

  #store-frepi-logo .icon {
    color: white;
    display: inline-block;
    font-size: 1.8571428em;
    left: 0.576923em;
    position: absolute;
    top: 0.8461538em;
  }

  #product-searcher {
    width: calc(100% - 8.928571em);
  }

  #product-searcher .ui.search,
  #product-searcher .ui.search .ui.input {
    width: 100%;
  }

  header #shopping-cart .icon {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;
    display: inline-block;
    font-size: 1.571428em;
    position: absolute;
    right: 0.318181em;
    top: 0.454545em;
  }

  #target-store,
  #user-account,
  #store-secondary-navbar {
    display: none;
  }

  .ui.discount.message { display: block; margin: 2rem auto 0; width: 80%; }

  /* Checkout steps rules */
  .checkout .ui.steps {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }

  .checkout .ui.steps .step {
    font-size: 0.857142em;
    width: 33.3333% !important;
  }

  /* Shopping cart rules */
  #shopping-cart .ui.items>.item>.image,
  #shopping-cart .ui.items>.item>.image>img {
    max-height: 125px !important;
  }

  .ui.items>.item>.image+.content {
    padding: 1.2em 1em 0 1.5em;
  }

  #shopping-cart .item .buttons .counter {
    padding: .78571429em;
  }

  #shopping-cart .item .buttons .button:not(.counter) {
    padding: 1em .375em;
  }

  #shopping-cart .item .buttons .button:not(.counter),
  #shopping-cart .item .close {
    display: block;
  }

  #shopping-cart .item .note {
    display: inline-block;
  }
}

@media (max-width: 551px) {
	#how-we-work { height: auto; }

	#how-we-work img { display: block; width: 100%; }
}

@media (max-width: 481px) {

  /* Landing page rules */

	.nav.button {
		display: block;
		position: absolute;
    right: 1em;
    top: .857142em;
    z-index: 1;
	}

	.header-padding { height: 91px; }

	#landing-logo {	display: inline-block; }

	nav.ui.menu.fixed {
		border-bottom: 1px solid $main-green;
		display: inline;
		height: auto !important;
	}

	nav.ui.menu.fixed .right.menu {display: block;}
	nav.ui.menu.fixed .right.menu *:not(i) { display: inline-block;	}
	nav.ui.menu.fixed .right.menu .item {width: 50%;}
	nav.ui.menu.fixed .right.menu .item .button{width: 100%;}
	nav.ui.menu.fixed .right.menu .item:last-child {padding-left: 0;}

	#slider {padding-top: 470px;}
  #slider .motto {
    margin: -140px 0 0 -150px;
    width: 300px;
  }
  #slider .button { margin: -100px 0 0 -102px; }

  #how-we-work p {
    margin: 2.5em 0 1em;
  }

  /* Store rules */

  .ui.discount.message { width: 100%; }

  /* Profile rules */
  .profile #guide-status {
    display: block;
  }

  .status-tag {
    display: inline-block;
    width: 110px;
  }

  #status {
    margin: 0 auto;
    width: 220px;
  }

  .profile #guide-status #status span {
    margin-right: 0.4285em;
  }

  .profile #guide-status #status .label {
    margin-top: 0.3571em;
  }

  .profile .table tbody .truncated.label {
    display: inline-block;
  }

  .profile .table thead tr th:nth-of-type(3),
  .profile .table tbody tr td:nth-of-type(3),
  .profile .table .label {
    display: none;
  }

  .profile .segment .line {
    position: relative;
  }

  .profile .segment .line .title {
    font-weight: bold;
    width: 100%;
  }

  .profile .segment .line .value {
    width: 100%;
  }

  .profile .segment .line .pencil {
    position: absolute;
    right: 0;
    top: 0.142857em;
  }

  .modal .buttons-to-right {
    padding: 0.1rem;
  }

  .card .header { font-size: 1em !important; }

	.card .meta { font-size: 0.857142em !important; }

  .card .extra.content {
    padding-top: 0;
    text-align: center;
  }

  .card .extra.content br {
    display: block;
  }

  .card .extra.content .button {
    float: none;
  }
}
