
/* Login */

.menu {
  background-color: rgb(34, 182, 118) !important;
  height: 85px;
}

#landing-logo {
  padding: 10px 0;
}

#landing-logo img {
  min-height: 40px;
  max-height: 65px;
}

.login-main {
  padding-top: 7em;
  background: url(../images/landing/login-bg.jpg) no-repeat fixed;
  background-size: cover;
  background-position: 0 50px;
  min-height: 100%;
  min-width: 100%;
}

#login-grid .header {
  font-size: 3rem !important;
  font-weight: 500;
  margin-bottom: 0.65em;
  color: #727272;
}

#login-grid .sub.header {
  padding: 0 0.4em !important;
  font-size: 1.3rem !important;
  color: #727272 !important;
  padding-top: 0.65em !important;
}

#login-form {
  background-color: rgba(255, 255, 255, 0.55);
}

#login-message {
  padding-top: 1em;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
}

/* Store */

#store-primary-navbar {
  background-color: rgb(34, 182, 118) !important;
  height: 60px;
}

#store-secondary-navbar {
  background-color: #fcf8e3 !important;
  height: 40px;
  padding: 2.5px 10px;
  top: 60px;
  z-index: 100;
}

#store-secondary-navbar button {
  height: 35px;
}

#store-frepi-logo {
  border-right: 1px solid #64CC9F;
  width: 200px;
}

#store-frepi-logo img {
  height: 50px;
  margin: 5px 37px;
}

#target-store {
  border-right: 1px solid #64CC9F;
  height: 60px;
  padding: 2.5px 0;
  width: 210px;
}

#target-store .content {
  font-size: 0.85em;
  text-align: center;
  width: 180px;
}

#target-store .sub.header {
  color: #fff;
  font-size: 1.05em;
}

#product-searcher {
  width: 59%;
}

#user-account i {
  margin-left: 5px;
}

#user-account .menu {
  z-index: 110;
}

#user-account .menu>.item {
  color: #fff !important;
}

#store-banner {
  background-color: #c20010;
  color: #fff;
  height: 250px;
  margin-top: 100px;
  padding: 20px 50px;
  width: 100%
}

#store-banner a {
  color: #fff;
}

#about-icon {
  float: right;
}

#frepi-categories section {
  margin: 50px 0;
}