
/* Generic rules */
html.ios, html.ios body {
  height: 100% !important;
}

.main-content {
  position: relative;
  padding-top: 100px;
}

.clearfix {
  content:"";
  display:table;
  clear:both;
}

a {
  cursor: pointer;
}

/* Request Error Message */
/* Rules for message to be shown when an error with the network has ocurred*/
.request-error {
  color: #FFF !important;
  font-weight: normal !important;
  left: 50%;
  position: absolute;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 40%;
}

.request-error .sub.header {
  color: rgba(255, 255, 255, 0.8) !important;
}

.main-content #error-container .request-error {
  top: 130%;
  color: rgba(0, 0, 0, 0.9) !important;
}

.main-content #error-container .request-error .sub.header {
  color: rgba(0, 0, 0, 0.7) !important;
}

/* Loading */
.loading {
  background-color: rgb(34, 182, 118);
  height: 100%;
  position: relative;
}

.loading .logo {
  left: 50%;
  position: absolute;
  top: 35%;
  transform: translate(-50%, -50%);
}

.loading .loader {
  top: 55%;
}

.loading .loader:after {
  border-color: #7AD3AD transparent transparent;
}

/* Admin */
.admin {
  background-color: rgb(34, 182, 118);
  height: 100%;
  position: relative;
}

.admin .header {
  color: #FFF;
  left: 50%;
  position: absolute;
  top: 60%;
  transform: translate(-50%, -50%);
}

/* Login */
.inverted.menu {
  background-color: rgb(34, 182, 118) !important;
  height: 85px;
}

#landing-logo {
  padding: 10px 0;
}

#landing-logo img {
  min-height: 40px;
  max-height: 65px;
}

.login-main {
  padding-top: 7em;
  background: url(../images/landing/login-bg.jpg) no-repeat fixed;
  background-size: cover;
  background-position: 0 50px;
  min-height: 100%;
  min-width: 100%;
}

#login-grid h1.header {
  font-size: 3rem !important;
  font-weight: 500;
  margin-bottom: 0.65em;
  color: #727272;
}

#login-grid .sub.header {
  padding: 0 0.4em !important;
  font-size: 1.3rem !important;
  color: #727272 !important;
  padding-top: 0.65em !important;
}

#login-form {
  background-color: rgba(255, 255, 255, 0.55);
}

#login-message {
  padding-top: 1em;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
}

/* Store */

#store-primary-navbar {
  background-color: rgb(34, 182, 118) !important;
  height: 60px;
}

#store-secondary-navbar {
  background-color: #fcf8e3 !important;
  height: 40px;
  padding: 2.5px 10px;
  top: 60px;
  z-index: 100;
}

#store-secondary-navbar a.item {
  border-radius: 4px;
}

#store-secondary-navbar a.item i {
  margin: 0;
}

#store-secondary-navbar button {
  height: 35px;
}

#store-secondary-navbar .right.menu button {
  background-color: #FC5B2A;
  color: #FFF;
}

#store-secondary-navbar .right.menu button:hover {
  background-color: #ED5828;
}

#store-frepi-logo {
  border-right: 1px solid #64CC9F;
  width: 200px;
}

#store-frepi-logo img {
  height: 50px;
  margin: 5px 37px;
}

#target-store {
  border-right: 1px solid #64CC9F;
  height: 60px;
  padding: 2.5px 0;
  width: 210px;
}

#target-store .content {
  font-size: 0.85em;
  text-align: center;
  width: 180px;
}

#target-store .sub.header {
  color: #fff;
  font-size: 1.05em;
}

#product-searcher {
  width: 59%;
}

#user-account i {
  margin-left: 5px;
}

#user-account .menu {
  background-color: rgb(34, 182, 118) !important;
  z-index: 110;
}

#user-account .menu>.item {
  color: #fff !important;
}

#store-banner {
  background-color: #c20010;
  color: #fff;
  height: 250px;
  padding: 20px 50px;
  width: 100%
}

#store-banner a {
  color: #fff;
}

#about-icon {
  float: right;
}

#frepi-categories section {
  margin: 50px 0;
}

.sidebar.menu {
  background-color: #fcf8e3 !important;
}

.sidebar.menu>.item:first-child {
  padding-top: 25px;
}

/**
 ** Shopping Cart rules
 **/

#shopping-cart>.item:first-child {
  background-color: #513C2C;
  padding: 1.71428em 1.28571em 1.42857em;
}

#shopping-cart>.item:first-child h3 {
  color: #FFFFFF;
  margin: 0;
}

#shopping-cart>.item:first-child .label {
  background-color: #413023;
  font-size: 1em;
  height: 2.75em;
  line-height: 2;
}

.centering {
  line-height: 2.5;
}

.ui.vertical.menu .item {
  display: flex;
  color: rgba(0,0,0,.67);
}

.ui.items>.item>.image+.content {
  padding-top: 1.2em;
}

#shopping-cart .item .header {
  width: 85%;
}

#shopping-cart .item .close,
#shopping-cart .item .minus,
#shopping-cart .item .plus {
  display: none;
  position: absolute;
}

#shopping-cart .item .close {
  right: 1em;
  top: 1em;
}

#shopping-cart .item .minus {
  right: 3.5em;
  top: 2.85714em;
}

#shopping-cart .item .plus {
  right: 6em;
  top: 2.85714em;
}

#shopping-cart .item .close:hover,
#shopping-cart .item .minus:hover,
#shopping-cart .item .plus:hover {
  color: rgba(0,0,0,.87);
}

#shopping-cart .item:hover .close,
#shopping-cart .item:hover .minus,
#shopping-cart .item:hover .plus {
  display: block;
}

/**
 ** Store Modal's rules
 **/

.modal .meta {
  color: rgba(0,0,0,.4);
}

.modal h2 {
  margin-top: 1em;
}

.modal .description {
  width: calc(100% - 450px + 2em) !important;
}

.modal .dropdown {
  margin-bottom: 1em;
}

.modal .dropdown,
.modal .dropdown .item {
  font-size: 1.14285714rem !important;
  font-weight: 600 !important;
  text-align: center !important;
}

.modal .actions p {
  color: rgba(0,0,0,.6);
  font-size: 0.8em;
  text-align: left;
}

/**
 ** Profile rules
 **/
 .modal .buttons-to-right {
    text-align: right;
    padding: 1rem;
 }

 .modal .buttons-to-right .button {
    margin-left: .75em;
 }

.profile .container #profile-picture {
  margin: 30px auto 0;
}

.profile .container>.header {
  margin-bottom: 2.5rem;
}

.profile .grid .column:first-of-type .line:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.profile .grid .column:last-of-type .button {
  display: block;
  margin: 0.7142em 2em 0 auto;
}

.profile .segment .header:first-of-type {
  font-size: 1.1em;
  text-transform: uppercase;
}

.profile .segment+.header {
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
}

.profile .segment .line {
  width: 100%;
}

.profile .segment .line * {
  display: inline-block;
  float: left;
  padding: 10px;
}

.profile .segment .line .title {
  font-weight: bold;
  width: 25%;
}

.profile .segment .line .value {
  width: 75%;
}

.profile .tab.segment {
  margin-bottom: 70px;
}

.profile #guide-status {
  display: none;
}

.profile .table {
  table-layout: fixed;
}

.profile .table .truncated.label {
  display: none;
}

.profile .table+.header {
  margin: 0;
}

.profile .table tbody .label {
  margin: 0;
}

.profile .table thead tr th:nth-last-of-type(2),
.profile .table thead tr th:last-of-type,
.profile .table tbody tr td:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profile .table tr td:last-of-type .delivering {
  background-color: #B5CC18;
  border-color: #B5CC18;
  color: #FFF;
}

.profile .table tr td:last-of-type .dispatched {
  background-color: #21BA45;
  border-color: #21BA45;
  color: #FFF;
}

.profile .table tr td:last-of-type .received {
  background-color: #FBBD08;
  border-color: #FBBD08;
  color: #FFF;
}

/* Checkout rules */

#store-secondary-navbar.checkout .right.menu .button{
  display: none;
}

.checkout .container>.header {
  margin: 3em 0 1.5em;
}

.checkout .container table {
  margin-bottom: 1.75em;
  table-layout: fixed;
}

.checkout .table thead tr th:nth-of-type(3) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.checkout .container .labeled.icon {
  float: right;
}