/**
 ** Responsiveness for Frepi
 **/

@media only screen and (max-width: 767px){

  /**
   ** Generic rules
   **/
  .main-content {
    padding-top: 60px;
  }

  /* Request Error Message */
  .request-error {
    width: 85%;
  }

  /**
   ** Ixdex/Landing rules
   **/

   #slider .images li h3 {
     font-size: 2em;
   }

   #slider .images li ul li .top-img {
     right: 40%;
     top: 60px;
   }

   #slider .images li ul li .left-img {
     left: 12%;
     top: 68%;
   }

   #slider .images li ul li .right-img {
     right: 14%;
     top: 64%;
   }

   #slider .images li ul li figure img {
     height: 80px;
     width: 80px;
   }

   /**** Slider Animations ***/

   /* Image coming from the slider's top */
   @keyframes slidein-top {
     from {top: -100px;}
     to {top: 60px;}
   }

   /* Image coming from the slider's left */
   @keyframes slidein-left {
     from {left: -100px;}
     to {left: 12%;}
   }

   /* Image coming from the slider's right */
   @keyframes slidein-right {
     from {right: -100px;}
     to {right: 14%;}
   }

   #how-we-work {
     background-size: 90%;
     height: 30em;
   }

  /**
   ** Login rules
   **/
   
   .login-main {
     background: url(../images/landing/login-bg-min.jpg) no-repeat fixed center bottom;
     background-size: 100%;
   }

  .ui.stackable.grid>.column:not(.row) {
    padding: 1rem 2rem !important;
  }

  .login-main .sub.header {
    font-size: 1.1rem !important;
  }

  /**
   ** Store rules
   **/

  #store-frepi-logo {
    width: 4.285714em;
  }

  #store-frepi-logo .image {
    display: none;
  }

  #store-frepi-logo .icon {
    color: white;
    display: inline-block;
    font-size: 1.8571428em;
    left: 0.576923em;
    position: absolute;
    top: 0.8461538em;
  }

  #product-searcher {
    width: calc(100% - 8.928571em);
  }

  header #shopping-cart .icon {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;
    display: inline-block;
    font-size: 1.571428em;
    position: absolute;
    right: 0.318181em;
    top: 0.454545em;
  }

  #target-store,
  #user-account,
  #store-secondary-navbar {
    display: none;
  }

  /* Checkout steps rules */
  .checkout .ui.steps {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }

  .checkout .ui.steps .step {
    font-size: 0.857142em;
    width: 33.3333% !important;
  }

  /* Shopping cart rules */
  #shopping-cart .ui.items>.item>.image,
  #shopping-cart .ui.items>.item>.image>img {
    max-height: 150px !important;
  }

  .ui.items>.item>.image+.content {
    padding: 1.2em 1em 0 1.5em;
  }

  #shopping-cart .item .close,
  #shopping-cart .item .minus,
  #shopping-cart .item .plus {
    display: block;
  }

  #shopping-cart .item .minus {
    bottom: -0.85em;
    right: 1em;
    top: auto;
  }

  #shopping-cart .item .plus {
    bottom: 1.5em;
    right: 1em;
    top: auto;
  }
}

@media (max-width: 481px) {

  /* Landing page rules */

  #slider .images li h3 {
    width: 85%;
  }

  #how-we-work {
    height: 22.857142em;
  }

  /* Profile rules */
  .profile #guide-status {
    display: block;
  }

  .status-tag {
    display: inline-block;
    width: 110px;
  }

  #status {
    margin: 0 auto;
    width: 220px;
  }

  .profile #guide-status #status span {
    margin-right: 0.4285em;
  }

  .profile #guide-status #status .label {
    margin-top: 0.3571em;
  }

  .profile .table tbody .truncated.label {
    display: inline-block;
  }

  .profile .table thead tr th:nth-of-type(3),
  .profile .table tbody tr td:nth-of-type(3),
  .profile .table .label {
    display: none;
  }

  .profile .segment .line {
    position: relative;
  }

  .profile .segment .line .title {
    font-weight: bold;
    width: 100%;
  }

  .profile .segment .line .value {
    width: 100%;
  }

  .profile .segment .line .pencil {
    position: absolute;
    right: 0;
    top: 0.142857em;
  }

  .modal .buttons-to-right {
    padding: 0.1rem;
  }

  /* Shopping cart rules */

  /*#shopping-cart .item .minus {
    bottom: 0.15em !important;
  }

  #shopping-cart .item .plus {
    bottom: 2.5em !important;
  }*/

  /* Card rules on mobile */

  .card .header {
    font-size: 1em !important;
  }

  .card .extra.content {
    padding-top: 0;
    text-align: center;
  }

  .card .extra.content br {
    display: block;
  }

  .card .extra.content .button {
    float: none;
  }
}
