/**
 ** Responsiveness for Frepi
 **/

@media only screen and (max-width: 767px){

  /**
   ** Generic rules
   **/
  .main-content {
    padding-top: 60px;
  }

  /**
   ** Login rules
   **/

  .ui.stackable.grid>.column:not(.row) {
    padding: 1rem 2rem !important;
  }

  .login-main .sub.header {
    font-size: 1.1rem !important;
  }

  /**
   ** Store rules
   **/

  #store-frepi-logo {
    width: 35%;
  }

  #store-frepi-logo img {
    margin: 5px 0.25%;
  }

  #target-store,
  #user-account,
  #store-secondary-navbar {
    display: none;
  }
}