/**
 ** Responsiveness for Frepi
 **/

@media (max-width: 481px) {
  .profile #guide-status {
    display: block;
  }

  .profile #guide-status #status {
    text-align: center;
  }

  .profile #guide-status #status span {
    margin-right: 0.4285em;
  }

  .profile #guide-status #status .label {
    margin-top: 0.3571em;
  }

  .profile .table tbody .truncated.label {
    display: inline-block;
  }

  .profile .table thead tr th:nth-of-type(3),
  .profile .table tbody tr td:nth-of-type(3),
  .profile .table .label {
    display: none;
  }

  .profile .segment .line .title {
    font-weight: bold;
    width: 30%;
  }

  .profile .segment .line .value {
    width: 70%;
  }
}

@media only screen and (max-width: 767px){

  /**
   ** Generic rules
   **/
  .main-content {
    padding-top: 60px;
  }

  /* Request Error Message */
  .request-error {
    width: 85%;
  }

  /**
   ** Login rules
   **/

  .ui.stackable.grid>.column:not(.row) {
    padding: 1rem 2rem !important;
  }

  .login-main .sub.header {
    font-size: 1.1rem !important;
  }

  /**
   ** Store rules
   **/

  #store-frepi-logo {
    width: 35%;
  }

  #store-frepi-logo img {
    margin: 5px 0.25%;
  }

  #target-store,
  #user-account,
  #store-secondary-navbar {
    display: none;
  }
}