h2.ui.center.aligned.header
	|Ya casi!
	.sub.header Coloca tu nueva contraseña
form.ui.form data-bind="submit: changePassword"
		.field
			label Nueva contraseña
			input type="password" name="new-password"
		.field
			label Confirmar nueva contraseña
			input type="password" name="confirmation-new-password"
		.ui.error.hidden.message
		.ui.success.hidden.segment
			h3.ui.header
				i.checkmark.icon
				.content
					|El cambio de contraseña ha sido exitoso
					.sub.header
						|Entra a la&nbsp;
						a href="/store" tienda&nbsp;
						|y ordena los mejores productos.
		button.ui.fluid.large.green.change.right.labeled.icon.button type="submit"
			i.checkmark.icon
			|Cambiar contraseña
		#login-message.ui.center.aligned
			|¿No tienes cuenta?&nbsp;
			a href="signup.html" Crea una

script src="javascripts/viewmodels/new-password.js" type="text/javascript"
