doctype html
html
	head
		meta charset="utf-8" /
		title Kangu - Haz tu mercado fácil y rápido
		/! Sets initial viewport load and disables zooming
		meta content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" name="viewport" /
		meta name="description" content="Haz tu compra y recibela en menos de una hora. Inténtalo!"
		// Add favicons
		link rel="apple-touch-icon" sizes="57x57" href="images/favicons/apple-touch-icon-57x57.png"
		link rel="apple-touch-icon" sizes="60x60" href="images/favicons/apple-touch-icon-60x60.png"
		link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-touch-icon-72x72.png"
		link rel="apple-touch-icon" sizes="76x76" href="images/favicons/apple-touch-icon-76x76.png"
		link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-touch-icon-114x114.png"
		link rel="apple-touch-icon" sizes="120x120" href="images/favicons/apple-touch-icon-120x120.png"
		link rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-touch-icon-144x144.png"
		link rel="apple-touch-icon" sizes="152x152" href="images/favicons/apple-touch-icon-152x152.png"
		link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon-180x180.png"
		link rel="icon" type="image/png" href="../images/favicons/favicon-32x32.png" sizes="32x32"
		link rel="icon" type="image/png" href="../images/favicons/android-chrome-192x192.png" sizes="192x192"
		link rel="icon" type="image/png" href="../images/favicons/favicon-96x96.png" sizes="96x96"
		link rel="icon" type="image/png" href="../images/favicons/favicon-16x16.png" sizes="16x16"
		link rel="mask-icon" href="images/favicons/safari-pinned-tab.svg" color="#5bbad5"
		meta name="msapplication-TileColor" content="#00aba9"
		meta name="msapplication-TileImage" content="images/favicons/mstile-144x144.png"
		meta name="theme-color" content="#ffffff"
		/! Add semantic's CSS
		link rel="stylesheet" type="text/css" href="semantic/out/semantic.min.css"
		link rel="stylesheet" type="text/css" href="stylesheets/global.css"
	body
		nav#mobile-menu.ui.vertical.left.sidebar.borderless.menu
			h2 Frepi Menu
			.item
				img src="images/landing/full_logo.png" alt="Frepi's logo"
			a.item href="store/index.html"
				h4.ui.header.title
					i.home.icon
					|Tienda
			a.item href="store/profile.html"
				h4.ui.header.title
					i.user.icon
					|Cuenta
			a.item data-bind="click: goToOrders"
				h4.ui.header.title
					i.book.icon
					|Pedidos
			a.item data-bind="click: logout"
				h4.ui.header.title
					i.sign.out.icon
					|Salir

		#departments-menu.ui.vertical.left.sidebar.menu
			.item
				h3.ui.header
					i.sidebar.icon
					.content Departamentos
			.items data-bind="foreach: session.categories"
				a.item
					.header data-bind="text: $data.name"
		.successful.ui.small.modal
			.image.content
				.ui.medium.rounded.image
					img src="images/landing/confirmation.png"
				.description
					h2.ui.header Solicitud exitosa!
					p
					|Hemos recibido satisfactoriamente tu orden, estamos trabajando para entregarla lo más pronto posible.
					p
					|Recuerda que todos nuestros empleados portan carné. Además, te puedes contactar con nosotros para corroborar su identidad.
					p
						br
						strong Ten buen día!
			.actions
				.ui.positive.right.labeled.icon.button
					|Ok
					i.checkmark.icon
		.pusher
			header
				#store-primary-navbar.ui.fixed.inverted.menu
					#store-frepi-logo
						i.sidebar.icon
						a href="store/index.html"
							img.ui.image src="images/landing/full_logo.png" alt="Frepi's logo"

					#user-account.ui.simple.right.floated.dropdown.item
							.text data-bind="text: 'Hola, '+userName()"
							i.chevron.down.icon
							.menu
								.item data-bind="click: goToProfile"
									i.user.icon
									|Ver perfil
								.item data-bind="click: goToOrders"
									i.book.icon
									|Mis pedidos
								.divider
								.item data-bind="click: logout"
									i.sign.out.icon
									|Salir
					#shopping-cart
						i.circular.inverted.orange.shop.icon

			#store-secondary-navbar.ui.fixed.borderless.checkout.menu
				.item
					button.ui.basic.grey.button
						i.sidebar.icon
						|Departamentos
				a.link.item href="store/index.html"
					i.home.large.grey.icon

				.right.menu
					.item
						button.ui.labeled.icon.button
							i.shop.icon
							|<!--ko text: session.currentOrder.numberProducts--><!--/ko-->

			.main-content.checkout
				.ui.container
					h1.ui.centered.header data-bind="text: headerMessage"
					.steps-wrapper
						.ui.steps
							.active.step#products-icon
								i.shop.icon
								.content
									.title Productos
									.description Verifica los productos
							.step#delivery-icon
								i.truck.icon
								.content
									.title Entrega
									.description Detalles de envío
							.step#confirm-icon
								i.thumbs.outline.up.icon
								.content
									.title Confirmar
									.description Confirma tu orden

					.ui.one.column.centered.stackable.page.grid
						.column
							.ui.info.message
								.header
									i.info.circle.icon
									|&nbsp;El pago de la orden es contraentrega
							.ui.clearfix.segment
								.ui.top.attached.label
									|Total Cuenta:&nbsp;$
									span data-bind="text: (session.currentOrder.price()).toLocaleString()"
								.order-content data-bind="visible: !orderGenerated()"
									#products
										table.ui.celled.unstackable.table
											thead
												tr
													th.five.wide Nombre
													th.two.wide Cantidad
													th.four.wide Precio c/u ($)
													th.four.wide Precio Total ($)
											tbody data-bind="foreach: session.currentOrder.products"
												tr
													td data-bind="text: $data.name"
													td data-bind="text: $data.quantity"
													td data-bind="text: ($data.frepiPrice).toLocaleString()"
													td data-bind="text: ($data.totalPrice).toLocaleString()"
										.ui.buttons.left.floated
											.ui.button data-bind="click: cancel" Cancelar
										.ui.right.labeled.icon.teal.button data-bind="click: seeDeliveryRight"
											|Entrega
											i.right.arrow.icon

									#delivery
										form.ui.form
											.address.field
												label Dirección
												input name="address" type="text" data-bind="textInput: address, event: {focus: inputGotFocus}" placeholder="Ej: Cra 45 # 65 - 56"
												.ui.pointing.red.prompt.label Información incorrecta
											.two.fields
												.phone.field
													label Teléfono
													input name="phoneNumber" type="text" data-bind="textInput: phoneNumber, event: {focus: inputGotFocus}" placeholder="Ej: 310 645 8888"
													.ui.pointing.red.prompt.label Información incorrecta
												.payment.field
													label Método de pago
													select.ui.dropdown data-bind="options: paymentTypes,
																												optionsText: 'text',
																												value: selectedPaymentMethod,
																												event: {change: setPaymentMethod},
																												optionsCaption: 'Seleccione...'"
													.ui.pointing.red.prompt.label Selecciona el método de pago
											.instructions.field
												label Instrucciones
												textarea name="instructions" rows="3" data-bind="textInput: comment" placeholder="Ej: Dejar en portería o llámame cuando llegue"
											.field
												label ¿Cuándo lo llevamos?
												.two.fields
													.date.field
														select.ui.fluid.days.dropdown data-bind="options: availableDays,
																																optionsText: 'date',
																																value: selectedDay,
																																event: {change: setHours},
																																optionsCaption: 'Fecha'"
														.ui.pointing.red.prompt.label Selecciona el día
													.time.field data-variation="small" data-content="Las entregas son de 08:00 AM a 04:00 PM"
														select.ui.fluid.hours.dropdown data-bind="options: availableHours,
																																value: selectedHour,
																																event: {change: setExpireHour},
																																optionsCaption: 'Hora'"
														.ui.pointing.red.prompt.label Selecciona la hora
										.ui.buttons.left.floated
											.ui.labeled.icon.teal.button data-bind="click: seeProducts"
												|Productos
												i.left.arrow.icon
										.ui.right.labeled.icon.teal.button data-bind="click: seeConfirm"
											|Confirmar
											i.right.arrow.icon
								#confirm
									.details-content
										p.disclaimer El total a pagar puede variar dependiendo de la disponiblidad y/o cambios de los productos de un pedido.
										div data-bind="if: user.discount"
											.clearfix.line data-bind="visible: user.discount > 0 && session.currentOrder.price() > 80000"
												span.title Descuento
												span.value data-bind="text: '-$'+(user.discount).toLocaleString()"
										.clearfix.line
											span.title Valor compra
											span.value data-bind="text: '$'+(finalOrderPrice()).toLocaleString()"
										.clearfix.line
											span.title Dirección
											span.value data-bind="text: address"
										.clearfix.line
											span.title Método de pago
											span.value data-bind="text: selectedPaymentMethod() ? selectedPaymentMethod().text : ''"
										.clearfix.line
											span.title Fecha llegada
											span.value data-bind="text: selectedDate()+' / '+selectedHour()"
										.clearfix.line
											span.title Instrucciones
											span.value data-bind="text: comment"
									.ui.buttons.left.floated
											.ui.labeled.icon.teal.button data-bind="click: seeDeliveryLeft"
												|Entrega
												i.left.arrow.icon
									.ui.right.labeled.icon.green.generate.button data-bind="click: generate"
										|Listo
										i.check.icon
									.ui.button.right.floated data-bind="click: cancel" Cancelar

			footer
				.ui.horizontal.list
					.item
						a.ui.circular.icon.button href="http://www.fb.com/frepi.co" target="_blank"
							i.facebook.icon
					.item
						a.ui.circular.icon.button href="http://www.instagram.com/frepi.co" target="_blank"
							i.instagram.icon
					.item
						a.ui.circular.icon.button
							i.twitter.icon
				p
					|© 2017 Kangu, inc. Todos los derechos reservados.

		script src="javascripts/knockout.js"
		script src="javascripts/plugins/crypto-js.min.js"
		script src="javascripts/plugins/ko-mapping.min.js"
		script src="javascripts/plugins/moment+locales.min.js"
		script src="javascripts/jquery/jquery-2.1.4.min.js"
		script src="semantic/out/semantic.min.js"
		script src="javascripts/classes/encrypter.js"
		script src="javascripts/classes/config.js"
		script src="javascripts/classes/RESTfulService.js"
		script src="javascripts/classes/router.js"
		script src="javascripts/viewmodels/store/checkout.js"
