.reset-password.ui.small.modal
	.header
		|Restaurar contraseña
	.content
		p Te enviaremos un correo para que restaures tu contraseña
		.ui.success.hidden.segment
			h3.ui.header
				i.checkmark.icon
				.content
					|Listo!
					.sub.header Hemos envíado un correo con instrucciones para restaurar tu contraseña
		form.ui.form data-bind="submit: resetPassword"
			.field
				label Correo
				input name="email" type="email"
			.buttons-to-right
				.ui.cancel.button Cancelar
				button.ui.green.right.labeled.icon.button type="submit"
					|Restaurar
					i.checkmark.icon
h2.ui.center.aligned.header
	|Bienvenido!
	.sub.header Ingresa y escoge los mejores productos.
form.ui.login.form data-bind="submit: function(){LoginService.regularLogin()}"
		.field
			.ui.left.icon.input
				i.user.icon
				input type="text" name="username" placeholder="Usuario"
		.field
			.ui.left.icon.input
				i.lock.icon
				input type="password" name="password" placeholder="Contraseña"
		.ui.error.message
		button.ui.fluid.large.green.login.right.labeled.icon.button type="submit"
			i.sign.in.icon
			|Iniciar
		.ui.horizontal.divider o
		button#login-fb.ui.fluid.large.labeled.icon.facebook.button data-bind="click: loginFB"
			i.facebook.icon
			|Inicia con Facebook
		#login-message.ui.center.aligned
			|¿No tienes cuenta?&nbsp;
			a href="signup.html" Crea una
			br
			|¿Olvidaste tu contraseña?&nbsp;
			a.reset.trigger Restaurala

script src="javascripts/viewmodels/login.js" type="text/javascript"
