			a.ui.blue.button href="store/index.html" Comienza a mercar!
			ul.images
				li
					h3
						|Los mejores productos a los&nbsp;
						strong mejores precios
					ul.inner-images
						li
							figure.top-img
								img.tomato src="images/tomatoPNG.png" alt="SLIDER_01"
						li
							figure.left-img
								img.corn src="images/cornPNG.png" alt="SLIDER_02"
						li
							figure.right-img
								img.broccoli src="images/broccoliPNG.png" alt="SLIDER_03"
				li
					h3
						|Te hacemos el mercado, y lo llevamos a tu casa por solo&nbsp;
						strong 6 mil pesos
					ul.inner-images
						li
							figure.top-img
								img.pepper src="images/pepperPNG.png" alt="SLIDER_04"
						li
							figure.left-img
								img.carrot src="images/carrotPNG.png" alt="SLIDER_05"
						li
							figure.right-img
								img.avocado src="images/avocadoPNG.png" alt="SLIDER_06" 