.ui.small.admin.delete.modal
	.header Eliminar Usuario
	.content
		p
			|Está a punto de eliminar a
			strong data-bind="text: chosenUser.name"
			|, ¿Desea hacerlo?
	.actions
		.ui.cancel.button
			i.remove.icon
			|No
		.ui.green.button data-bind="click: deleteUser"
			i.check.icon
			|Si
.ui.small.admin.create.modal
	i.close.icon
	.header Agregar Administrador
	.content
		form.ui.form data-bind="submit: createAdmin"
			.field
				label Nombre
				.two.fields
					.field
						input type="text" name="firstName" placeholder="Nombres"
					.field
						input type="text" name="lastName" placeholder="Apellidos"
			.two.fields
				.field
					label CC
					input type="text" name="cc" placeholder="Cédula de ciudadanía"
				.field
					label Dirección
					input type="text" name="address" placeholder="Dirección"
			.two.fields
				.field
					label Teléfono
					input type="text" name="phoneNumber" placeholder="Teléfono"
				.field
					label Correo electrónico
					input type="text" name="email" placeholder="Correo electrónico"
			.field
				label Contraseña
				.two.fields
					.field
						input type="password" name="password" placeholder="Contraseña"
					.field
						input type="password" name="confirmationPassword" placeholder="Confirme contraseña"
			.buttons-to-right
				.ui.cancel.button Cancelar
				button.ui.labeled.green.submit.icon.button type="submit"
					|Crear Admin
					i.checkmark.icon
.ui.small.admin.update.modal
	i.close.icon
	.header Editar Usuario
	.content
		form.ui.form data-bind="submit: updateUser"
			.field
				label Nombre
				.two.fields
					.field
						input type="text" name="firstName" placeholder="Nombres"
					.field
						input type="text" name="lastName" placeholder="Apellidos"
			.two.fields
				.field
					label CC
					input type="text" name="cc" placeholder="Cédula de ciudadanía"
				.field
					label Dirección
					input type="text" name="address" placeholder="Dirección"
			.two.fields
				.field
					label Teléfono
					input type="text" name="phoneNumber" placeholder="Teléfono"
				.field
					label Correo electrónico
					input type="text" name="email" placeholder="Correo electrónico"
			.buttons-to-right
				.ui.cancel.button Cancelar
				button.ui.labeled.green.submit.icon.button type="submit"
					|Editar
					i.checkmark.icon

header
	h2 Manejo de Usuarios

h3 Administradores

section.actions
	button.ui.green.create.button
		i.plus.icon
		|Agregar Administrador

section.content
	table.admins.ui.celled.table
		thead
			tr
				th ID
				th CC
				th Nombres
				th Apellidos
				th Teléfono
				th E-mail
				th Acciones
		tbody data-bind="foreach: currentAdmins, visible: !shouldShowAdminsAlert()"
			tr
				td data-bind="text: $data.id"
				td data-bind="text: $data.identification"
				td data-bind="text: $data.name"
				td data-bind="text: $data.lastName"
				td data-bind="text: $data.phoneNumber"
				td data-bind="text: $data.email"
				td
					i.bordered.inverted.blue.pencil.link.icon data-bind="click: $root.showUpdate"
					i.bordered.inverted.red.remove.user.link.icon data-bind="click: $root.showDelete"
		tbody data-bind="visible: shouldShowAdminsAlert"
				tr
					td.alert.box colspan="7"
						h4.ui.centered.header data-bind="text: adminsAlertText"
		tfoot
			tr
				th colspan="7"
					.ui.right.floated.pagination.menu
						a.icon.item data-bind="click: setPrevAdminPage"
							i.left.chevron.icon
						.pages.item data-bind="foreach: adminsPages.showablePages"
								a.item data-bind="text: $data.num, click: $root.fetchAdminsPage"
						a.icon.item data-bind="click: setNextAdminPage"
							i.right.chevron.icon

	h3 Clientes
	table.users.ui.celled.table
		thead
			tr
				th ID
				th CC
				th Nombres
				th Apellidos
				th Teléfono
				th E-mail
				th Dirección
				th # Pedidos
				th Fiel
				th Activo
				th Acciones
		tbody data-bind="foreach: currentUsers, visible: !shouldShowUsersAlert()"
			tr
				td data-bind="text: $data.id"
				td data-bind="text: $data.identification"
				td data-bind="text: $data.name"
				td data-bind="text: $data.lastName"
				td data-bind="text: $data.phoneNumber"
				td data-bind="text: $data.email"
				td data-bind="text: $data.address"
				td data-bind="text: $data.counterOrders"
				td data-bind="text: $root.activeTranslation($data.loyalCostumer)"
				td data-bind="text: $root.activeTranslation($data.active)"
				td
					i.bordered.inverted.blue.pencil.link.icon data-bind="click: $root.showUpdate"
					i.bordered.inverted.red.remove.user.link.icon data-bind="click: $root.showDelete"
		tbody data-bind="visible: shouldShowUsersAlert"
				tr
					td.alert.box colspan="11"
						h4.ui.centered.header data-bind="text: usersAlertText"
		tfoot
			tr
				th colspan="11"
					.ui.right.floated.pagination.menu
						a.icon.item data-bind="click: setPrevUserPage"
							i.left.chevron.icon
						.pages.item data-bind="foreach: usersPages.showablePages"
								a.item data-bind="text: $data.num, click: $root.fetchUsersPage"
						a.icon.item data-bind="click: setNextUserPage"
							i.right.chevron.icon

script src="../javascripts/viewmodels/admin/admin.js"
