.home {
  .main.menu {
    background-color: rgb(34, 182, 118) !important;
    .container {width: 95%;}
    #landing-logo {
      padding: 0;
      img {
        min-height: 2.857142em;
        min-width: 7em;
      }
    }
  }

  .orders.menu {
    background-color: #513C2C !important;
    top: 46px;
    -webkit-transition: box-shadow .218s ease-out;
    transition: box-shadow .218s ease-out;

    .container {
      width: 97% !important;
    }

    .container > .item{
      font-weight: 700;
      &.actived {
        color: white;
        span {text-decoration: underline;}
      }
      .state {display: none;}
    }
  }

  #received-orders {
    margin-top: 9em;
    min-height: 35em;

    .container {
      position: relative;
      .pagination.menu {
        font-size: .85714285rem;
        position: absolute;
        right: 0;
        top: 0;
        .pages {padding: 0;}
      }
    }

    h2 {
      margin-bottom: 1.5em;
    }

    .dimmer {
      position: fixed;
      top: 86px !important;

      .loader {
        top: 30%;
      }
    }
  }

  footer {
    margin: 3em 0 1em;
    p {
      text-align: center;
    }
  }
}

@media (min-width: 768px) {
  .home {
    .orders.menu {
      .state {
        display: inline-block !important;
      }
    }
  }
}
