.frepi.modal {
  border-radius: 2px;
  background-color: rgb(204, 255, 144) !important;
  padding: 15px 12px;

  .content {
    background-color: rgb(204, 255, 144) !important;
		.asterisk.icon {
			font-weight: bold;
			position: absolute;
			right: 5em;
			top: 2em;
		}
    .header {
      font-size: 1.071em;
      font-weight: 700;
      max-height: 2.8571428em;
      overflow: hidden;
			width: 90%;
    }
    .meta {
      color: rgba(0,0,0,.4);
      font-size: 1em;
      font-weight: 700;
      margin-bottom: 1em;
    }
    p:nth-of-type(2) {
      margin-bottom: 0;
    }
    .items {
      list-style-type: square;
      .acquired {
        color: rgba(0, 0, 0, .65);
        text-decoration: line-through;
      }

      &+.button{
        display: block;
        margin-bottom: 1em;
      }

      &.checking li {
        cursor: pointer;
        font-weight: bold;
        list-style: none;

        &:before {
          content: "\f096";
          font-family: Icons;
          margin-right: 5px;
          text-decoration: none;
        }

        &.acquired {
          font-weight: normal;

          &:before {
            content: "\f14a";
          }
        }
      }
    }
    p:last-of-type {
      display: inline-block;
    }
    .dropdown {
      background-color: transparent !important;

      .menu {
        background-color: #ccff90 !important;
      }
    }
    .actions {
      margin-top: 1.5em;
      button {
        margin-left: 0;
        margin-right: .75em;
      }
    }
  }
}
